In [2]:
# å‰å‡¦ç†
from data_cleaning import CleanTW
tw = CleanTW().run_all()

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns = 30
sns.set()

In [4]:
tw.head(2)

,ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡,ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x,æ™‚é–“,ã„ã„ã­,ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ,ã‚¤ãƒ³ãƒ—ãƒ¬ãƒƒã‚·ãƒ§ãƒ³,ã‚¨ãƒ³ã‚²ãƒ¼ã‚¸ãƒ¡ãƒ³ãƒˆ,ã‚¨ãƒ³ã‚²ãƒ¼ã‚¸ãƒ¡ãƒ³ãƒˆç‡,è¿”ä¿¡,ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯,URLã‚¯ãƒªãƒƒã‚¯æ•°,ãƒãƒƒã‚·ãƒ¥ã‚¿ã‚°ã‚¯ãƒªãƒƒã‚¯,è©³ç´°ã‚¯ãƒªãƒƒã‚¯,ãƒ•ã‚©ãƒ­ãƒ¼ã—ã¦ã„ã‚‹,ãƒ¡ãƒ‡ã‚£ã‚¢ã®å†ç”Ÿæ•°,ãƒ¡ãƒ‡ã‚£ã‚¢ã®ã‚¨ãƒ³ã‚²ãƒ¼ã‚¸ãƒ¡ãƒ³ãƒˆæ•°,æ–‡å­—æ•°,media_exist,reply_flg,YMD,YEAR,MONTH,DAY,TIME,WEEKDAY,WEEK
0,@teatime3fairy ã“ã¡ã‚‰ã“ãå®œã—ããŠé¡˜ã„ã—ã¾ã™ğŸ˜†,ã“ã¡ã‚‰ã“ãå®œã—ããŠé¡˜ã„ã—ã¾ã™ğŸ˜†,2021-03-30 14:34:00+00:00,1.0,0.0,14.0,1.0,0.071429,0.0,0.0,0.0,0.0,0.0,0,0,0,16,0,1,20210330,2021,3,30,14,1,13
1,ã­ã‚€ã­ã‚€ã‚€ã‚€ğŸ¥± https://t.co/Ggro68dOXM,ã­ã‚€ã­ã‚€ã‚€ã‚€ğŸ¥±,2021-03-30 07:57:00+00:00,216.0,3.0,2654.0,331.0,0.124717,0.0,44.0,3.0,0.0,29.0,0,463,36,8,1,0,20210330,2021,3,30,7,1,13

## å½¢æ…‹ç´ è§£æ

In [26]:
import MeCab

In [34]:
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
text = 'çŠ¬ãªã—ã§äººã¯å¹¸ã›ã«ãªã‚Œãªã„'
words = tagger.parse(text).splitlines()
words

['çŠ¬\tåè©,ä¸€èˆ¬,*,*,*,*,çŠ¬,ã‚¤ãƒŒ,ã‚¤ãƒŒ',
 'ãªã—\tå½¢å®¹è©,è‡ªç«‹,*,*,å½¢å®¹è©ãƒ»ã‚¢ã‚¦ã‚ªæ®µ,æ–‡èªåŸºæœ¬å½¢,ãªã„,ãƒŠã‚·,ãƒŠã‚·',
 'ã§\tåŠ©å‹•è©,*,*,*,ç‰¹æ®Šãƒ»ãƒ€,é€£ç”¨å½¢,ã ,ãƒ‡,ãƒ‡',
 'äºº\tåè©,ä¸€èˆ¬,*,*,*,*,äºº,ãƒ’ãƒˆ,ãƒ’ãƒˆ',
 'ã¯\tåŠ©è©,ä¿‚åŠ©è©,*,*,*,*,ã¯,ãƒ,ãƒ¯',
 'å¹¸ã›\tåè©,å½¢å®¹å‹•è©èªå¹¹,*,*,*,*,å¹¸ã›,ã‚·ã‚¢ãƒ¯ã‚»,ã‚·ã‚¢ãƒ¯ã‚»',
 'ã«\tåŠ©è©,å‰¯è©åŒ–,*,*,*,*,ã«,ãƒ‹,ãƒ‹',
 'ãªã‚Œ\tå‹•è©,è‡ªç«‹,*,*,ä¸€æ®µ,æœªç„¶å½¢,ãªã‚Œã‚‹,ãƒŠãƒ¬,ãƒŠãƒ¬',
 'ãªã„\tåŠ©å‹•è©,*,*,*,ç‰¹æ®Šãƒ»ãƒŠã‚¤,åŸºæœ¬å½¢,ãªã„,ãƒŠã‚¤,ãƒŠã‚¤',
 'EOS']

In [45]:
# ãƒ†ã‚¹ãƒˆ
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
text = 'çŠ¬ğŸ¶ãªã—ã§ã€äººã¯å¹¸ã›ğŸ’“ã«ãªã‚Œãªã„ã€‚No one can be happy without a dog'
words = tagger.parse(text).splitlines()
parts = ['åè©','å‹•è©','å½¢å®¹è©','å½¢å®¹å‹•è©','æ¥ç¶šè©','é€£ä½“è©']
words_arr = []
for i in words:
  if i == 'EOS' or i == '':continue
  word_tmp = i.split()[0]
  part = i.split()[1].split(',')[0]
  if not (part in parts):continue
  words_arr.append({part:word_tmp})

In [46]:
words_arr

[{'åè©': 'çŠ¬'},
 {'å½¢å®¹è©': 'ãªã—'},
 {'åè©': 'äºº'},
 {'åè©': 'å¹¸ã›'},
 {'å‹•è©': 'ãªã‚Œ'},
 {'åè©': 'No'},
 {'åè©': 'one'},
 {'åè©': 'can'},
 {'åè©': 'be'},
 {'åè©': 'happy'},
 {'åè©': 'without'},
 {'åè©': 'a'},
 {'åè©': 'dog'}]

In [54]:
# ã„ã„ã­ãŒå¤šã„åè©ã¨ãã®å‡ºç¾å›æ•°ã‚’èª¿ã¹ã‚‹
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
all_words = []
goods = []
parts = ['åè©']
for n in range(len(tw)):
  text = tw.iloc[n]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x']
  words = tagger.parse(text).splitlines()
  words_arr = []
  for i in words:
    if i == 'EOS' or i == '':continue
    word_tmp = i.split()[0]
    part = i.split()[1].split(',')[0]
    if not (part in parts):continue
    words_arr.append(word_tmp)
    goods.append(tw.iloc[n]['ã„ã„ã­'])
  all_words.extend(words_arr)
  
df = pd.DataFrame({
  'word':all_words,
  'ã„ã„ã­':goods,
  'å›æ•°':len(all_words) * [1]
})

df_good = df.groupby('word')['ã„ã„ã­'].mean()
df_count = df.groupby('word')['å›æ•°'].sum()
df_a = pd.concat([df_good,df_count],axis=1)

df_rank = df_a.loc[df_a['å›æ•°']>3].sort_values('ã„ã„ã­', ascending=False).reset_index()

In [55]:
df_rank.head(10)

    word         ã„ã„ã­  å›æ•°
0     ã‚«ã‚­  555.000000   4
1   ãƒ€ãƒƒãƒ•ã‚£  545.800000   5
2      æ­³  545.428571   7
3      æ•  469.600000   5
4  ãŠæ°—ã«å…¥ã‚Š  448.900000  10
5     ã“ã‚Œ  391.000000   9
6      ä»Š  390.428571   7
7     ã“ã“  316.166667   6
8      å›  311.142857   7
9     å‘¼å¸  301.800000   5

In [58]:
# ã„ã„ã­ãŒå¤šã„å‹•è©ã¨ãã®å‡ºç¾å›æ•°ã‚’èª¿ã¹ã‚‹
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
all_words = []
goods = []
parts = ['å‹•è©']
for n in range(len(tw)):
  text = tw.iloc[n]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x']
  words = tagger.parse(text).splitlines()
  words_arr = []
  for i in words:
    if i == 'EOS' or i == '':continue
    word_tmp = i.split()[0]
    part = i.split()[1].split(',')[0]
    if not (part in parts):continue
    words_arr.append(word_tmp)
    goods.append(tw.iloc[n]['ã„ã„ã­'])
  all_words.extend(words_arr)
  
df = pd.DataFrame({
  'word':all_words,
  'ã„ã„ã­':goods,
  'å›æ•°':len(all_words) * [1]
})

df_good = df.groupby('word')['ã„ã„ã­'].mean()
df_count = df.groupby('word')['å›æ•°'].sum()
df_a = pd.concat([df_good,df_count],axis=1)

df_rank = df_a.loc[df_a['å›æ•°']>3].sort_values('ã„ã„ã­', ascending=False).reset_index()

In [59]:
df_rank.head(10)

  word         ã„ã„ã­  å›æ•°
0   æ§‹ã£  477.500000   4
1   è€ƒãˆ  407.500000   4
2   è¡Œã“  398.857143   7
3  ã—ã¾ã„  390.600000   5
4   ãŠã‚Š  369.000000   4
5   ã§ã  330.833333   6
6   ãã‚‹  322.571429   7
7   ç–²ã‚Œ  289.800000   5
8   é–‹ã‘  289.666667   6
9   è¡Œã  283.625000   8

In [62]:
# ãƒªãƒ„ã‚¤ãƒ¼ãƒˆæ•°ãŒå¤šã„åè©ã¨ãã®å‡ºç¾å›æ•°ã‚’èª¿ã¹ã‚‹
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
all_words = []
goods = []
parts = ['åè©']
for n in range(len(tw)):
  text = tw.iloc[n]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x']
  words = tagger.parse(text).splitlines()
  words_arr = []
  for i in words:
    if i == 'EOS' or i == '':continue
    word_tmp = i.split()[0]
    part = i.split()[1].split(',')[0]
    if not (part in parts):continue
    words_arr.append(word_tmp)
    goods.append(tw.iloc[n]['ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ'])
  all_words.extend(words_arr)
  
df = pd.DataFrame({
  'word':all_words,
  'ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ':goods,
  'å›æ•°':len(all_words) * [1]
})

df_good = df.groupby('word')['ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ'].mean()
df_count = df.groupby('word')['å›æ•°'].sum()
df_a = pd.concat([df_good,df_count],axis=1)

df_rank = df_a.loc[df_a['å›æ•°']>3].sort_values('ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ', ascending=False).reset_index()

In [63]:
df_rank.head(10)

    word      ãƒªãƒ„ã‚¤ãƒ¼ãƒˆ  å›æ•°
0     ã‚«ã‚­  25.000000   4
1   ãƒ€ãƒƒãƒ•ã‚£  23.400000   5
2      æ­³  22.714286   7
3      æ„Ÿ  15.400000   5
4  ãŠæ°—ã«å…¥ã‚Š  14.200000  10
5      ä»Š  14.000000   7
6      ç”¨  13.500000   6
7      æ•  12.000000   5
8     ã“ã‚Œ  10.111111   9
9     ã‚„ã¤   9.909091  11

In [64]:
# ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯æ•°ãŒå¤šã„åè©ã¨ãã®å‡ºç¾å›æ•°ã‚’èª¿ã¹ã‚‹
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
all_words = []
goods = []
parts = ['åè©']
for n in range(len(tw)):
  text = tw.iloc[n]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x']
  words = tagger.parse(text).splitlines()
  words_arr = []
  for i in words:
    if i == 'EOS' or i == '':continue
    word_tmp = i.split()[0]
    part = i.split()[1].split(',')[0]
    if not (part in parts):continue
    words_arr.append(word_tmp)
    goods.append(tw.iloc[n]['ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯'])
  all_words.extend(words_arr)
  
df = pd.DataFrame({
  'word':all_words,
  'ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯':goods,
  'å›æ•°':len(all_words) * [1]
})

df_good = df.groupby('word')['ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯'].mean()
df_count = df.groupby('word')['å›æ•°'].sum()
df_a = pd.concat([df_good,df_count],axis=1)

df_rank = df_a.loc[df_a['å›æ•°']>3].sort_values('ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯', ascending=False).reset_index()

In [65]:
df_rank.head(10)

  word  ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯  å›æ•°
0    æ­³      227.000000   7
1   å˜”å      213.750000   4
2   è‚ºç‚      180.000000  14
3    å›      155.428571   7
4   æ™‚é–“      143.285714   7
5   ã“ã‚Œ      135.777778   9
6  ã¨ã“ã‚      127.857143   7
7   ã‚«ã‚­      118.500000   4
8    ä»Š      103.428571   7
9   æœ€é«˜       98.500000   4

## é¡ä¼¼ãƒ„ã‚¤ãƒ¼ãƒˆæ¤œç´¢

In [ ]:
len(tw)

In [ ]:
tagger = MeCab.Tagger('-d /usr/local/lib/mecab/dic/ipadic')
all_words_df = pd.DataFrame()
parts = ['åè©','å‹•è©','å½¢å®¹è©']
goods = []
for n in range(len(tw)):
  text = tw.iloc[n]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x']
  words = tagger.parse(text).splitlines()
  words_df = pd.DataFrame()
  for i in words:
    if i == 'EOS' or i == '':continue
    word_tmp = i.split()[0]
    part = i.split()[1].split(',')[0]
    if not (part in parts):continue
    words_df[word_tmp] = [1]
    goods.append(tw.iloc[n]['ã„ã„ã­'])
  all_words_df = pd.concat([all_words_df, words_df],ignore_index=True)

In [ ]:
all_words_df

In [ ]:
all_words_df = all_words_df.fillna(0)
all_words_df

In [ ]:
print(tw.loc[tw['ã‚¤ãƒ³ãƒ—ãƒ¬ãƒƒã‚·ãƒ§ãƒ³'] == tw['ã‚¤ãƒ³ãƒ—ãƒ¬ãƒƒã‚·ãƒ§ãƒ³'].max()].index)
print(tw.loc[tw['ã„ã„ã­'] == tw['ã„ã„ã­'].max()].index)
print(tw.loc[tw['ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯'] == tw['ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚¯ãƒªãƒƒã‚¯'].max()].index)

In [ ]:
print(tw['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x'].iloc[230])
tar_text = all_words_df.iloc[230]
tar_text

In [ ]:
# ã‚³ã‚µã‚¤ãƒ³é¡ä¼¼åº¦ã§æ¤œç´¢

cos_sim = []
for i in range(len(all_words_df)):
  cos_text = all_words_df.iloc[i]
  cos = np.dot(tar_text, cos_text) / np.linalg.norm(tar_text) * np.linalg.norm(cos_text)
  cos_sim.append(cos)
all_words_df['cos_sim'] = cos_sim
all_words_df = all_words_df.sort_values('cos_sim', ascending=False)
all_words_df.head()

In [ ]:
all_words_df.head(11).index[1:]

In [ ]:
for idx in all_words_df.head(11).index[1:]:
  print("**********",idx, "**********")
  print(tw.iloc[idx]['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x'])

# Word Cloud

In [ ]:
import matplotlib
matplotlib.matplotlib_fname()

In [ ]:
all_words_df.columns

In [ ]:
from wordcloud import WordCloud

fig = plt.figure(figsize=(12,10))
font_path="~/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/fonts/ttf/ipaexg.ttf"
splitted = ' '.join([x.split('\t')[0] for x in all_words_df.columns])
wordc = WordCloud(font_path=font_path,background_color='white',width=800, height=600).generate(splitted)

plt.imshow(wordc)
plt.axis('off')
plt.show()

# TF IDF
<div style='text-align:left; display: block;'>
    $$bow(w,d)=[æ–‡æ›¸då†…ã§å˜èªwãŒå‡ºç¾ã™ã‚‹å›æ•°]$$
    $$tf(w,d)=bow(w,d)/[æ–‡æ›¸då˜èªæ•°]$$
    $$idf(w)=[å…¨æ–‡æ›¸æ•°N]/[å˜èªwãŒå«ã¾ã‚Œã‚‹æ–‡æ›¸æ•°]$$
    $$tfidf(w,d)=tf(w,d)*idf(w,d)$$
</div>

In [ ]:
# TFã¯å˜èªã®å‡ºç¾é »åº¦ï¼ˆTerm Frequencyï¼‰ã€IDFã¯é€†æ–‡æ›¸é »åº¦ï¼ˆInverse Document Frequencyï¼‰

# TFã¯ã€å„æ–‡ç« ã«ãŠã‘ã‚‹å„å˜èªã®å‡ºç¾å›æ•°ã§ã‚ã‚‹ä¸Šè¿°ã®Bag-of-Wordsã‚’æ­£è¦åŒ–ã—ã¦é »åº¦ã«å¤‰ãˆãŸã‚‚ã®

# IDFã¯ã‚ã‚‹å˜èªãŒã©ã‚Œã ã‘æƒ…å ±ã‚’ã‚‚ãŸã‚‰ã™ã‹ã‚’è¡¨ã™é‡ã§ã€å¤šãã®æ–‡æ›¸ã«å‡ºç¾ã™ã‚‹å˜èªã®å½±éŸ¿ã¯å¼±ããªã‚Šã€ã”ãä¸€éƒ¨ã®æ–‡æ›¸ã«å‡ºç¾ã™ã‚‹å˜èªã®å½±éŸ¿ãŒå¼·ããªã‚‹

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã‚’è¡¨ç¤ºã™ã‚‹ã¨ãã‚«ãƒ©ãƒ ã‚’çœç•¥ã—ãªã„
pd.set_option('display.max_columns', None)
# æµ®å‹•å°æ•°ç‚¹ã‚’è¡¨ç¤ºã™ã‚‹ã¨ãã¯å°æ•°ç‚¹ä»¥ä¸‹ 2 æ¡ã§æƒãˆã‚‹
pd.options.display.float_format = '{:0.2f}'.format

# å–ã‚Šæ‰±ã†ã‚³ãƒ¼ãƒ‘ã‚¹
corpus = tw['ãƒ„ã‚¤ãƒ¼ãƒˆæœ¬æ–‡_x'].values

In [ ]:
all_words_df

In [ ]:
# è¦‹ã‚„ã™ã•ã®ãŸã‚ã«è¡¨ç¤ºã™ã‚‹ã¨ãã¯ pandas ã®ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã«ã™ã‚‹
df_count = pd.DataFrame(data=all_words_df,
                  columns=all_words_df.columns)
print('--- BoW (Bag of Words) ---')
print(df_count.shape)
display(df_count.head())

In [ ]:
tfidf_vectorizer = TfidfVectorizer()
X_tfidf = tfidf_vectorizer.fit_transform(corpus)

print('--- IDF (Inverse Document Frequency) ---')
df_idf = pd.DataFrame(data=[tfidf_vectorizer.idf_],
                  columns=tfidf_vectorizer.get_feature_names())
print(df_idf.shape)
display(df_idf.head())

In [ ]:
print('--- TF-IDF ---')
df_tfidf = pd.DataFrame(data=X_tfidf.toarray(),
                  columns=tfidf_vectorizer.get_feature_names())
print(df_tfidf.shape)
display(df_tfidf.head())